* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3A3939;
}
header {
    height: 70vh;
}
#fundo {
    background-color: antiquewhite;
    height: 200px;
    width: 100%;
    background-image: url("../images/fundo.png");
    background-position-y: -150px;
}
#fundo-img {
    background-color: #3A3939;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    
}
#fundo-img h1 img{
    width: 300px;
    margin-top: -40%;
}

#btn-grupo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.btn {
    padding: 1rem 2rem;
    background-color: #3A5438;
    color: #e3e3e3;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    background-color: #1d321c;
}

#youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

footer {
    padding: 2rem;
    text-align: center;
}
